<!-- Navigation -->
<nav class="navbar navbar-expand-md py-0 .navbar-dark bg-dark text-light">
  <a class="navbar-brand" href="{{site.baseurl}}/"><i class="fa fa-home"></i></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars"></i>
  </button>

  <div class="navbar-collapse collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% for module in site.data.course.modules %}
       {% assign first_post = site.categories[module]|reverse|first %}
       <li class="nav-item py-2{% if page.categories[1] == module %} active{% endif %}">
         <a class="nav-link" href="{{ site.baseurl }}/content/{{ module }}/">
          {% if module == "modules" %}Learning{% else %}{{ module | capitalize }}{% endif %}
         </a>
       </li>
      {% endfor %}
<!--
      <li class="nav-item py-2">
        <a class="nav-link" href="https://www.p2pu.org/en/" target="_blank">Example Link</a>
      </li>
-->
    </ul>
    
    <!-- Site-wide Search -->
    <div class="site-search">
      <form id="site-search-form" class="search-form">
        <div class="input-group">
          <input id="site-search-input" type="text" class="form-control search-input" placeholder="Search..." aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-outline-light" type="button">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <div id="site-search-results" class="search-results"></div>
      </form>
    </div>
  </div>
</nav>
