{% assign current_module_slug = page.module_slug %}
{% assign module_index = site.data.course.modules_order | index: current_module_slug %}

{% if module_index != nil %}
    {% assign next_module_index = module_index | plus: 1 %}

    {% if next_module_index < site.data.course.modules_order | size %}
        {% assign next_module_slug = site.data.course.modules_order[next_module_index] %}
        <div class="pagination-section">
            <div class="title">
                Next up:
            </div>
            <a rel="next" class="next" href="{{ site.baseurl }}/modules/{{ next_module_slug }}/index.html">
                {{ next_module_slug | replace: '-', ' ' | capitalize }}
            </a>
        </div>
        <hr />
    {% endif %}
{% endif %}