<div class="sidebar col-md-3">
  {% assign current_section_slug = page.section_slug %}
  {% assign current_topic_slug = page.topic_slug %}

  {% assign section_index = nil %}
  {% for slug in site.data.course.sections_order %}
    {% if slug == current_section_slug %}
      {% assign section_index = forloop.index0 %}
      {% break %}
    {% endif %}
  {% endfor %}

  {% if section_index != nil %}
    {% assign prev_section_index = section_index | minus: 1 %}
    {% assign next_section_index = section_index | plus: 1 %}

    {% if prev_section_index >= 0 %}
      {% assign prev_section_slug = site.data.course.sections_order[prev_section_index] %}
      <div class="pagination-section">
        <div class="title">
          Previous section:
        </div>
        <a rel="prev" class="prev" href="{{ site.baseurl }}/sections/{{ prev_section_slug | replace: '_section', '' }}/">
          {{ prev_section_slug | replace: '_section', '' | replace: '-', ' ' | capitalize }}
        </a>
      </div>
      <hr />
    {% endif %}


    <p> Topic: {{current_topic_slug}}</p>
    {% if current_section_slug == 'modules_section' %}
      {% if current_topic_slug %} # Show topics and lessons only within a topic
        {% assign topic_index = nil %}
        {% assign current_topic_lessons = site.data.course.topics.modules_section | keys %} #Get list of topic keys

        {% for topic_key in current_topic_lessons %}
          {% if topic_key == current_topic_slug %}
            {% assign topic_index = forloop.index0 %}
            {% break %}
          {% endif %}
        {% endfor %}

        {% assign prev_topic_index = topic_index | minus: 1 %}
        {% assign next_topic_index = topic_index | plus: 1 %}

        {% if prev_topic_index >= 0 %}
          {% assign prev_topic_slug = current_topic_lessons[prev_topic_index] %}
          <div class="pagination-section">
            <div class="title">
              Previous topic:
            </div>
            <a rel="prev" class="prev" href="{{ site.baseurl }}/sections/modules/{{ prev_topic_slug }}/">
              {{ prev_topic_slug | replace: '-', ' ' | capitalize }}
            </a>
          </div>
          <hr />
        {% endif %}

        <ul> # Show lessons for current topic
          {% for lesson in site.data.course.topics.modules_section[current_topic_slug] %}
            <li class="{% if page.url == lesson.url %}active{% endif %} {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}">
              <a href="{{ site.baseurl }}{{ lesson.url }}">
                {{ lesson.title }}
              </a>
            </li>
          {% endfor %}
        </ul>

        {% if next_topic_index < current_topic_lessons | size %}
          {% assign next_topic_slug = current_topic_lessons[next_topic_index] %}
          <hr />
          <div class="pagination-section">
            <div class="title">
              Next topic:
            </div>
            <a rel="next" class="next" href="{{ site.baseurl }}/sections/modules/{{ next_topic_slug }}/">
              {{ next_topic_slug | replace: '-', ' ' | capitalize }}
            </a>
          </div>
          <hr />
        {% endif %}
      {% else %} #If not in a topic, show modules list
           <ul>
          {% for module_key in site.data.course.topics.modules_section.keys %}
            {% assign module_array = site.data.course.topics.modules_section[module_key] %}
            {% assign module = module_array[0] %}
            <li class="{% if page.url == module.url %}active{% endif %} {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}">
              <a href="{{ site.baseurl }}{{ module.url }}">
                {{ module.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
        {% endif %}
    {% endif %}

    {% if section_index != nil %}
      {% assign next_section_index = section_index | plus: 1 %}
      {% assign next_section_slug = site.data.course.sections_order[next_section_index] %}

      {% if next_section_slug != nil %}
        <hr />
        <div class="pagination-section">
          <div class="title">
            Next section:
          </div>
          <a rel="next" class="next" href="{{ site.baseurl }}/sections/{{ next_section_slug | replace: '_section', '' }}/">
            {{ next_section_slug | replace: '_section', '' | replace: '-', ' ' | capitalize }}
          </a>
        </div>
      {% endif %}
    {% endif %}

  {% endif %}
</div>